.container {
  width: 1080px;
  margin: 0 auto;
}

.container h1 {

  font-size: 40px;
  font-family: 'Playfair Display', serif;
  color: rgb(28 0 255);

}

.city-dropdown form select {
  height: 25px;
  width: 150px;
  background-color: rgb(172 177 239);
  border: 1px solid rgb(9, 87, 255);
}


.search-bar input {
  background-color: rgb(172 177 239);
  border: 1px solid rgb(9, 87, 255);
  outline: none;
  font-size: 20px;
  
}




.city-dropdown {
  width: 20%;
  float: left;

}

.search-bar {
  padding-left: 50px;
  width: 80%;
}

input[type=text] {
    height: 30px;
    width: 250px;
    margin-top: -4px;
    transition: width 1s ease-in;

  }
  
  input[type=text]:focus {
    width: 400px;
  }
  

/* table css*/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
}

tr:nth-child(even) {
  background-color: #78a5f7;
}
tr:nth-child(odd) {
    background-color:  #bcd7ff;
  }
  


table tr th, table tr td {
    text-align: center;
    padding: 15px 15px;
    border: 1px solid #0a0257;
    max-width: auto;
    font-size: 13px;
}
table tr th:nth-child(3), table tr th:nth-child(4) , table tr td:nth-child(3) , table tr td:nth-child(4)
{
    max-width: 160px;
}

table tr th:nth-child(8), table tr td:nth-child(8){
    max-width: 100px;
}
